﻿@model fnelektronik.Models.Category

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Category</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryNameTR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryNameTR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryNameEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryNameEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RootCategoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RootCategoryId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CategoryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
