﻿@model IEnumerable<fnelektronik.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<table class="table">
    <tr>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryNameTR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryNameEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RootCategoryId)
        </td>
       
    </tr>
}

</table>
