﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>SSS- fnelektronic</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Electronic Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	SmartPhone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
           function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <!-- Custom Theme files -->
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //Custom Theme files -->
    <!-- font-awesome icons -->
    <link href="~/Content/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!-- js -->
    <script src="~/Content/js/jquery.min.js"></script>
    <!-- //js -->
    <!-- web fonts -->
    <link href='//fonts.googleapis.com/css?family=Glegoo:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <!-- //web fonts -->
    <!-- for bootstrap working -->
    <script type="text/javascript" src="~/Content/js/bootstrap-3.1.1.min.js"></script>
    <!-- //for bootstrap working -->
    <!-- start-smooth-scrolling -->
    <script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
    </script>
    <!-- //end-smooth-scrolling -->
</head>
<body>
    <!-- header modal -->
    <div class="modal fade" id="myModal88" tabindex="-1" role="dialog" aria-labelledby="myModal88"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Bekleme,Alışverişe Başla!</h4>
                </div>
                <div class="modal-body modal-body-sub">
                    <div class="row">
                        <div class="col-md-8 modal_body_left modal_body_left1" style="border-right: 1px dotted #C2C2C2;padding-right:3em;">
                            <div class="sap_tabs">
                                <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
                                    <ul>
                                        <li class="resp-tab-item" aria-controls="tab_item-0"><span>Giriş Yap!</span></li>
                                        <li class="resp-tab-item" aria-controls="tab_item-1"><span>Çıkış Yap</span></li>
                                    </ul>
                                    <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
                                        <div class="facts">
                                            <div class="register">
                                                <form action="#" method="post">
                                                    <input name="Email" placeholder="Email Address" type="text" required="">
                                                    <input name="Password" placeholder="Password" type="password" required="">
                                                    <div class="sign-up">
                                                        <input type="submit" value="Sign in" />
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-2 resp-tab-content" aria-labelledby="tab_item-1">
                                        <div class="facts">
                                            <div class="register">
                                                <form action="#" method="post">
                                                    <input placeholder="Name" name="Name" type="text" required="">
                                                    <input placeholder="Email Address" name="Email" type="email" required="">
                                                    <input placeholder="Password" name="Password" type="password" required="">
                                                    <input placeholder="Confirm Password" name="Password" type="password" required="">
                                                    <div class="sign-up">
                                                        <input type="submit" value="Create Account" />
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <script src="~/Content/js/easyResponsiveTabs.js" type="text/javascript"></script>
                            <script type="text/javascript">
								$(document).ready(function () {
									$('#horizontalTab').easyResponsiveTabs({
										type: 'default', //Types: default, vertical, accordion
										width: 'auto', //auto or any width like 600px
										fit: true   // 100% fit in a container
									});
								});
                            </script>
                            <div id="OR" class="hidden-xs">VEYA</div>
                        </div>
                        <div class="col-md-4 modal_body_right modal_body_right1">
                            <div class="row text-center sign-with">
                                <div class="col-md-12">
                                    <h3 class="other-nw">Bu hesaplarınla da giriş yapabilirsin.</h3>
                                </div>
                                <div class="col-md-12">
                                    <ul class="social">
                                        <li class="social_facebook"><a href="#" class="entypo-facebook"></a></li>
                                        <li class="social_dribbble"><a href="#" class="entypo-dribbble"></a></li>
                                        <li class="social_twitter"><a href="#" class="entypo-twitter"></a></li>
                                        <li class="social_behance"><a href="#" class="entypo-behance"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header modal -->
    <!-- header -->
    <div class="header" id="home1">
        <div class="container">
            <div class="w3l_login">
                <a href="#" data-toggle="modal" data-target="#myModal88"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
            </div>
            <div class="w3l_logo">
                <h1><a href="index.html">fnelektronic<span>Sizin Mağazanız. Sizin Yeriniz.</span></a></h1>
            </div>
            <div class="search">
                <input class="search_box" type="checkbox" id="search_box">
                <label class="icon-search" for="search_box"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></label>
                <div class="search_form">
                    <form action="#" method="post">
                        <input type="text" name="Search" placeholder="Search...">
                        <input type="submit" value="Send">
                    </form>
                </div>
            </div>
            <div class="cart cart box_1">
                <form action="#" method="post" class="last">
                    <input type="hidden" name="cmd" value="_cart" />
                    <input type="hidden" name="display" value="1" />
                    <button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
                </form>
            </div>
        </div>
    </div>
    <!-- //header -->
    <!-- navigation -->
    <div class="navigation">
        <div class="container">
            <nav class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header nav_2">
                    <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                    <ul class="nav navbar-nav">
                        <li><a href="index.html">Anasayfa</a></li>
                        <!-- Mega Menu -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ürünler <b class="caret"></b></a>
                            <ul class="dropdown-menu multi-column columns-3">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <ul class="multi-column-dropdown">
                                            <h6>Mobil Cihazlar</h6>
                                            <li><a href="products.html">Cep Telefonları</a></li>
                                            <li><a href="products.html">Mp3 Playerlar <span>Yeni</span></a></li>
                                            <li><a href="products.html">Popülar Ürünler</a></li>
                                            <li><a href="products.html">Tüm Tabletler<span>Yeni</span></a></li>
                                    </div>
                                    <div class="col-sm-3">
                                        <ul class="multi-column-dropdown">
                                            <h6>Aksesuarlar</h6>
                                            <li><a href="products1.html">Laptop</a></li>
                                            <li><a href="products1.html">Masaüstü</a></li>
                                            <li><a href="products1.html">Giyilebilir Teknolojiler <span>Yeni</span></a></li>
                                            <li><a href="products1.html"><i>Yazlık Mağaza</i></a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-2">
                                        <ul class="multi-column-dropdown">
                                            <h6>Ev Eşyaları</h6>
                                            <li><a href="products2.html">Tv</a></li>
                                            <li><a href="products2.html">Kamera</a></li>
                                            <li><a href="products2.html">AC</a></li>
                                            <li><a href="products2.html">Öğütücüler</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="w3ls_products_pos">
                                            
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </ul>
                        </li>
                        <li><a href="about.html">Hakkımızda</a></li>
                        <li class="w3pages">
                           
                            <ul class="dropdown-menu">
                              
                            </ul>
                        </li>
                        <li><a href="mail.html">MAİL ATIN BİZE</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!-- //navigation -->
    <!-- banner -->
    <div class="banner banner10">
        <div class="container">
            <h2>SIKÇA SORULAN SORULAR</h2>
        </div>
    </div>
    <!-- //banner -->
    <!-- breadcrumbs -->
    <div class="breadcrumb_dress">
        <div class="container">
            <ul>
                <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Anasayfa</a> <i>/</i></li>
                <li>SSS</li>
            </ul>
        </div>
    </div>
    <!-- //breadcrumbs -->
    <!-- faq -->
    <div class="faq">
        <div class="container">
            <div class="w3l_faq_grids">
                <div class="w3l_faq_grid">
                    <h3>1. Faturam ulaşmadı, ne yapabilirim? </h3>
                    <p>
                        <b></b>fnelektronic.com'da sipariş verirken teslimat ve fatura adresi girmeniz istenir. 
                        Faturanın gönderileceği adres için teslimat adresinden farklı bir adres seçip seçmediğinizi kontrol edin. 
                        Eğer sorun adres seçiminden kaynaklanmıyorsa Ürün detay veya Mevcut Sipariş sayfasındaki Mağazaya Soru Sor butonuna basarak mağazayla iletişime geçebilirsiniz.
                         Hesabım menüsünü tıklayıp Canlı Destek uzmanından da yardım alabilirsiniz. 
                    </p>
                </div>

                <div class="w3l_faq_grid">
                    <h3>2.Siparişi onayla butonu görünmüyor. Neden?</h3>
                    <p>
                        <b></b> Teslim aldığınız üründe herhangi bir sorun yoksa ürünün kargolandığı tarihten itibaren 3 iş günü içinde ödemeye onay vermeniz gerekir. Bu süre sonunda ödemeye hâlâ onay vermediyseniz sistem tarafından size hatırlatma uyarısı gönderilir ve son 24 saat süreci başlatılır. 
                        Teslim alınan üründe herhangi bir sorun yoksa ve ürünün kargolandığı tarihten itibaren 3 iş günü ve 24 saat içinde siparişi onaylamadıysanız sipariş sistem tarafından otomatik olarak onaylanır. Otomatik onaydan sonra Alışverişi Tamamla butonu ekranda gözükmez
                    </p>
                </div>
                <div class="w3l_faq_grid">
                    <h3>3. Siparişim elime ulaşmadı, ne yapmalıyım?</h3>
                    <p>
                        <b></b>Siparişiniz onaylandığı halde ürün elinize ulaşmadıysa ürün sayfasında yer alan
                         Mağazaya Soru Sor butonuna basarak mağazayla iletişime geçebilirsiniz.
                        Kargo Takip linkini tıklayarak siparişinizin nerede olduğunu görebilirsiniz.
                        Misafir kullanıcı olarak alışveriş yaptıysanız size gönderilen e-postadaki 
                        veya Sipariş Detayı linkindeki Kargo Takip numarasıyla siparişinizin yerini öğrenebilirsiniz.  
                    </p>
                </div>
                <div class="w3l_faq_grid">
                    <h3>4. Tamamlanan siparişe ürün ekleyebilir miyim?</h3>
                    <p>
                        <b></b>Ödeme tamamlandıktan ve siparişiniz onaylandıktan
                         sonra  ürün ekleyemezsiniz. Yeni ürün için tekrar sipariş vermeniz gerekir. 
                    </p>
                </div>
                <div class="w3l_faq_grid">
                    <h3>5.Siparişimi iptal edebilir miyim?</h3>
                    <p>
                        <b></b> Mağaza onaylamadan önce tüm siparişi veya siparişinizden çıkarmak istediğiniz ürünü iptal edebilirsiniz.
                    </p>
                </div>
                <div class="w3l_faq_grid">
                    <h3>6.Teslimat adres bilgilerimi değiştirebilir miyim?</h3>
                    <p>
                        <b></b> Adres bilgilerinizi, Hesabım menüsündeki Adreslerim sayfasından değiştirebilirsiniz.
Sipariş verdiğiniz ürünün teslimat adresinde değişiklik yapmak istiyorsanız Hesabım menüsündeki Mevcut Sipariş sayfasını açın.
                         Değiştirmek istediğiniz siparişin üst tarafında bulunan adres alanını tıklayıp bilgileri düzenleyebilirsiniz. 
                        Mağaza siparişinizi onaylayana kadar adresinizde değişiklik yapabilirsiniz. 
                    </p>
                </div>
                <div class="w3l_faq_grid">
                    <h3>7.Müşteri Hizmetlerine Nasıl Ulaşabilirim?</h3>
                    <p>
                        <b></b> fnelektronic.com müşteri hizmetlerine 7/24 hesabım sayfasındaki canlı destek hattından ya da 08:00-22:00 saatleri arasında 08503330011 numaralı hattan ulaşabilirsiniz.
                    </p>
                </div>
                <div class="w3l_faq_grid">
                    <h3>8.Faturam ulaşmadı, ne yapabilirim?</h3>
                    <p>
                        <b></b> fnelektronic.com'da sipariş verirken teslimat ve fatura adresi girmeniz istenir. Faturanın gönderileceği adres için teslimat adresinden farklı bir adres seçip seçmediğinizi kontrol edin.
                         Eğer sorun adres seçiminden kaynaklanmıyorsa Ürün detay veya Mevcut Sipariş sayfasındaki Mağazaya mail at butonuna basarak mağazayla iletişime geçebilirsiniz.
                         Hesabım menüsünü tıklayıp Canlı Destek uzmanından da yardım alabilirsiniz. 
                    </p>
                </div>
                <div class="w3l_faq_grid">
                    <h3>9. Siparişim elime ulaşmadı, ne yapmalıyım? ?</h3>
                    <p>
                        <b></b> Siparişiniz onaylandığı halde ürün elinize ulaşmadıysa ürün sayfasında yer alan Mağazaya Soru Sor butonuna basarak mağazayla iletişime geçebilirsiniz. Mağazaya ulaşamıyorsanız n11.com'a üye girişi yapıp Hesabım menüsüne tıklayıp Canlı Destek uzmanıyla görüşebilirsiniz.
Sipariş kargolandıysa gecikme kargo firmasından kaynaklanmış olabilir.
                         Hesabım menüsündeki Mevcut Sipariş sayfasından Kargo Takip linkini tıklayarak siparişinizin nerede olduğunu görebilirsiniz.
Misafir kullanıcı olarak alışveriş yaptıysanız size gönderilen e-postadaki veya Sipariş Detayı linkindeki Kargo Takip numarasıyla siparişinizin yerini öğrenebilirsiniz.  
                    </p>
                </div>
                <div class="w3l_faq_grid">
                    <h3>10. TC kimlik numarası yazılması neden zorunludur? ?</h3>
                    <p>
                        <b></b> Ürünlerin faturasının adınıza kesilmesi ve kargonun doğru kişiye teslim edilmesi için
                         alıcıların alışverişlerinde TC kimlik numarası yazması zorunludur.
                    </p>
                </div>
                <div class="w3l_faq_grid">
                    <h3>11.Ürünü nasıl değiştirebilirim?</h3>
                    <p>
                        <b></b> Değişim talebi oluşturup ürünü kampanya kodu ile birlikte kargo firmasına teslim edin.

Talebi oluşturduktan sonra 3 gün içerisinde ürünü kargoya vererek sisteme kargo takip bilgisi girin. 
                        Takip numarası girilmediği takdirde değişim talebi iptal edilir. 
                        (Kampanya kodu ile yapılan gönderimlerde ürün kargoya verildikten sonra takip numarası sisteme otomatik olarak yansır.)
Kargo takip bilgisi sisteme girildikten sonra mağazanın talebe yanıt verme süresi 3 iş günü + 24 saattir.
                        Mağaza, değişim talebini onaylayıp sisteme yeni ürünü kargoya verir.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- //faq -->
    <!-- newsletter -->
    <div class="newsletter">
        <div class="container">
            <div class="col-md-6 w3agile_newsletter_left">
                <h3>YAZ GÖNDER!</h3>
                <p>Tüm istek,dilek ve şikayetlerini bekliyoruz.</p>
            </div>
            <div class="col-md-6 w3agile_newsletter_right">
                <form action="#" method="post">
                    <input type="email" name="Email" placeholder="Email" required="">
                    <input type="submit" value="" />
                </form>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //newsletter -->
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="w3_footer_grids">
                <div class="col-md-3 w3_footer_grid">
                    <h3>İletişim</h3>
                    <p>7/24 öneri şikayet desteğinizi bekliyoruz.</p>
                    <ul class="address">
                        <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>Serdivan <span>SAKARYA</span></li>
                        <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">fnelektronic@gmail.com</a></li>
                        <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>0264 554 54 54</li>
                    </ul>
                </div>
                <div class="col-md-3 w3_footer_grid">
                    <h3>Bilgilendirme</h3>
                    <ul class="info">
                        <li><a href="about.html">Hakkımızda</a></li>
                        <li><a href="mail.html">İletişim/a></li>
                       
                        <li><a href="faq.html">SSS</a></li>
                        <li><a href="products.html">Seçme Ürünler</a></li>
                    </ul>
                </div>
                <div class="col-md-3 w3_footer_grid">
                    <h3>Kategoriler</h3>
                    <ul class="info">
                        <li><a href="products.html">Mobil Cihazlar</a></li>
                        <li><a href="products1.html">Laptoplar</a></li>
                        <li><a href="products.html">Arıtma Cihazları</a></li>
                        <li><a href="products1.html">Giyilebilr Teknolojiler</a></li>
                        <li><a href="products2.html">Mutfak Eşyaları</a></li>
                    </ul>
                </div>
                <div class="col-md-3 w3_footer_grid">
                    <h3>Profil</h3>
                    <ul class="info">
                        <li><a href="index.html">Anasayfa</a></li>
                        <li><a href="products.html">Günün Fırsatı</a></li>
                    </ul>
                    <h4>Bizi Takipte Kalın!</h4>
                    <div class="agileits_social_button">
                        <ul>
                            <li><a href="#" class="facebook"> </a></li>
                            <li><a href="#" class="twitter"> </a></li>
                            <li><a href="#" class="google"> </a></li>
                            <li><a href="#" class="pinterest"> </a></li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="footer-copy">
            <div class="footer-copy1">
                <div class="footer-copy-pos">
                    <a href="#home1" class="scroll"><img src="images/arrow.png" alt=" " class="img-responsive" /></a>
                </div>
            </div>
            <div class="container">
                <p>&copy; 2017 fnelektronic. Tüm Hakları Saklıdır. | Design by <a href="http://fnelektronic.com/">fnelektronic</a></p>
            </div>
        </div>
    </div>
    <!-- //footer -->
    <!-- cart-js -->
    <script src="~/Content/js/minicart.js"></script>
    <script>
        w3ls.render();

        w3ls.cart.on('w3sb_checkout', function (evt) {
        	var items, len, i;

        	if (this.subtotal() > 0) {
        		items = this.items();

        		for (i = 0, len = items.length; i < len; i++) {
        		}
        	}
        });
    </script>
    <!-- //cart-js -->
</body>
</html>
